body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f5f5f5;
}

.sidebar {
    width: 250px;
    background: ;
    color: #1abc9c;
    padding: 20px;
    height: 100vh;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    color: black;
}

.sidebar ul li {
    padding: 15px 0;
}

.sidebar ul li a {
    color: black;
    text-decoration: none;
}

.sidebar ul li a.active {
    color: #1abc9c;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.profile-card {
    display: flex;
    align-items: center;
    background: #1abc9c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-card img {
    border-radius: 50%;
    width: 80px;
    margin-right: 20px;
}

.btn {
    background: #1abc9c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.btn a{
    color: white;
    text-decoration: none;
}


.password-form {
    display: none;
    margin-top: 20px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.password-form input {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
